html, body {
 margin: 0;
 padding: 0;
 font-family:Arial; 

 }
 header {
 	padding: 30px;
 	background-image: url(image/header.jpg);
 	position:relative;
	max-width: 100%;
	box-sizing: border-box;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition:0.5;
 }
 h1{
 	color:#4AB1F8 ;
 	display: inline;

 }
 nav {
 	float: right;
 }
 nav ul
{
	margin: 0;
	padding: 0;
	display: flex;

}
nav ul li
{
	list-style: none;
	margin-left:100px;
}
nav ul li a
{
 display: block;
 margin: 10px 0;
 padding: 10px 20px;
 text-decoration: none;
 color:#fff;
 background: #E71EAB;
 border-radius: 5%;
}
 /*fin css nav*/

.slider img {
	background-size: cover;
	width: 100%;
	padding-top: 20px;

}
#slider-texte{
	position: absolute;
	display: block;
	text-align: center;

	
}

.entretien{
	background: gray;
	width: 100%;
	height: 600px;
}


.contact h2
{
	color:#4AB1F8;
	text-align: center;
}
.contact p
{
	color:#4AB1F8;
	font-weight: bold;
	text-align: center;
}
.formulaire
{
	min-width: 60%;
}
.formulaire form
{
	display: flex;
	flex-direction: column;
}
.formulaire form h3,
.contactInfo h3
{
	color:#fff;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}
.formulaire form input,
.formulaire form textarea
{
	margin-bottom: 20px;
	padding:15px;
	font-size: 16px;
	background: transparent;
	border: none;
	outline: none;
	background: #fff;
	color: #fff;
	resize: none;
	border:#7C7C7C solid 2px;
	 font-family:Arial; 
	
}
.formulaire form textarea
{
	min-height: 200px;
 font-family:Arial; 
}
.formulaire form input::placeholder
.formulaire form textarea::placeholder
{
	color:#999;
}
.formulaire form input[type="submit"]
{
	max-width: 100px;
	background: #4AB1F8;
	cursor: pointer;
	 font-family:Arial; 

}