html, body {
 margin: 0;
 padding: 0;
 font-family:Arial; 

 }
 header {
 	z-index: 2;
 	padding: 30px 50px;
 	background-color: #fff;
 	position:fixed;
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition:0.5;
 }
 h1{
 	color:#b5f68b;
 	display: inline;

 }
 nav {
 	float: right;
 }
 nav ul
{
	margin: -10px;
	padding: 0;
	display: flex;

}
nav ul li
{
	list-style: none;
	margin-left:100px;
}
nav ul li a
{
 display: block;
 margin: 10px 0;
 padding: 10px 20px;
 text-decoration: none;
 color:#fff;
 background: #b5f68b;
 border-radius: 5%;
 transition: 1s;
}
nav ul li a:hover{
	transform: scale(1.3);
	transition: 0.5s;
	background: #fff;
	color:#b5f68b;
	border-radius: 30%;
 /*fin css nav*/
}
#accueil {
	transition: 1s;
}
.slider img {
	background-size: cover;
	width: 100%;
}

.slider{
	width: 100%;
	margin: 0 auto;
}

#slider-texte{
	z-index: 1;
	font-size: 30pt;
	position: absolute;
	top: 40%;
	background-color: #fff 50%;
	width: 100%;
	text-align: center;
	color: #fff;
}

#slider-texte h2{
	position: absolute;
	top: 50%;
	left:50%;
	text-align: center;
	color: #fff;
}

#slider-texte h1{
	color: #fff;
}
.reunion{
	padding: 20px;
	margin: 20px;
	text-align: center;
	background: #9FEA6E;
}

.actu{
	float:left;
	display: block;
	background: #b5f68b;
	width: 50%;
	height: 300px;
	padding: 40px;
	margin-left:20px;
	justify-content: center;

}
.actu div div{
	margin-left: 50%;
}
.actu div img{
	position: absolute;
	width: 40%;
}

.information {
	display: block;
	background: #b5f68b;
	width: 33%;
	height: 300px;
	padding: 40px;
	margin: 20px;
	margin-left:60%;
	justify-content: center;
}

.membres {
	background: lightgrey;
	width: 100%;
	height: 200px;
	text-align: center;
}
.membres p {

	padding: 90px 0px;
}
.galerie {
	background: gray;
	width: 100%;
	height: 570px;
}
.galerie #image {
	
	display: flex;
	justify-content: center;

}
.galerie #image2 {
	
	display: flex;
	justify-content: center;


}
.galerie #image2 img {
	width: 33.3%;
}


#image img {
	width: 33.3%;
}
.contact h2
{
	color:#b5f68b;
	text-align: center;
}
.contact p
{
	color:#b5f68b;
	font-weight: bold;
	text-align: center;
}
.formulaire
{
	min-width: 60%;
}
.formulaire form
{
	display: flex;
	flex-direction: column;
	padding-left: 50px;
	padding-right:50px;
}
.formulaire form h3,
.contactInfo h3
{
	color:#fff;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}
.formulaire form input,
.formulaire form textarea
{
	margin-bottom: 20px;
	padding:15px;
	font-size: 16px;
	background: transparent;
	border: none;
	outline: none;
	background: #fff;
	color:black ;
	resize: none;
	border:#7C7C7C solid 2px;
	 font-family:Arial; 
	
}
.formulaire form textarea
{
	min-height: 200px;
 font-family:Arial; 
}
.formulaire form input::placeholder
.formulaire form textarea::placeholder
{
	color:#999;
}
.formulaire form input[type="submit"]
{
	max-width: 100px;
	background: #b5f68b;
	cursor: pointer;
	 font-family:Arial; 

}
/*Contour*/
span
{
	transition: 0.5;
}
.contour span
{
position:absolute;
top:0
left:0;
width: 100%;
height: 2px;
background: linear-gradient(to right, transparent,#b5f68b);
animation:animatea 10s linear infinite ;
animation-delay: 0s;
}
@keyframes animatea 
{
	0%{
		transform:translateX(-100%);


	}
	100%{
		transform:translateX(0%);
	}
}
